@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "DIN";
	src: url("./assets/DIN-Regular.ttf")
}

* {
	padding: 0px;
	margin: 0px;
}

b {
	color: red;
}

img {
	border: 0px;
}

body {
	background-image: url(./images/background1.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #1c503d;
	color: #ffffff;
	font-size: 15px;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.resize {
	width: 50px;
	height: 17px;
}

#login_form {
	position: absolute;
}

#login_success {
	float: left;
}

#search_form {
	position: relative;
}

.navistrich {
	height: 30px;
	width: 773px;
	background-image: url(./images/navistrich.png);
	background-repeat: no-repeat;
	clear: both;
}

.input {
	position: absolute;
	width: 86px;
	height: 14px;
	padding: 3px;
	font-size: 10px;
	font-family: Verdana, Arial, sans-serif;
	color: #4e524e;
}

#iuser,#ipass,#ilogin,#ireg,#search_input,#isearch {
	position: absolute;
}

#search_input {
	right: 32px;
	width: 160px;
}

#iuser {
	left: 0px;
	/*	font-family:"DIN";
	font-size:11px;*/
}

#ipass {
	left: 99px;
}

#ilogin {
	left: 198px;
}

#ireg {
	left: 255px;
	top: 2px;
}

#isearch {
	right: 0px;
}

.navi_left {
	position: relative;
	width: 28px;
	height: 20px;
	float: left;
}

.navi_right {
	position: relative;
	float: left;
	width: auto; /*220px*/
	height: 20px;
	margin-left: 16px;
}

.navi_item {
	float: left;
	position: relative;
	margin-left: 50px;
}

.navi_bar {
	margin-left: 69px;
	background-color: #1f3022;
	height: 48px;
	width: 634px;
}

.navi_bar_content_left {
	height: 23px;
	margin-top: 13px;
	margin-left: 13px;
	float: left;
}

.navi_bar_content_right {
	height: 23px;
	margin-top: 13px;
	float: right;
	margin-right: 13px;
}

.logo {
	height: 110px;
	/*background-color:#FFF;*/
	background-image: url(./images/logo.png);
	background-repeat: no-repeat;
	margin: auto;
	width: 273px;
}

#content {
	margin-top: 5px;
	margin-left: 69px;
	z-index: 0;
}

.content_item {
	float: left;
	margin-top: 15px;
	margin-left: 25px;
}

.chartplatzierung {
	background-image: url(./images/platzierung.png);
	background-repeat: no-repeat;
	height: 53px;
	width: 53px;
	float: left;
}

.platznummer {
	font-size: 19px;
	text-align: center;
	line-height: 35px;
	display: block;
}

.platz {
	text-align: center;
	display: block;
	line-height: 5px;
	font-size: 15px;
}

.chartbild {
	width: 106px;
	height: 106px;
	background-color: #55796b;
	float: left;
	position: relative;
}

.cover {
	width: 106px;
	height: 106px;
}

.kasten {
	width: 423px;
	height: 106px;
	float: left;
	background-color: #55796b;
	position: relative;
}

.chartautor {
	font-weight: bold;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.platzhalter_autor_name {
	float: left;
	margin-left: 5px;
	margin-top: 10px;
	display: block;
	margin-right: 5px;
}

.chartname {
	margin-left: 20px;
	margin-top: 10px;
}

.chartbewertung {
	margin-left: 10px;
	font-style: italic;
	float: left;
	position: relative;
}

.chartstars {
	position: relative;
	left: 5px;
	width: 150px;
}

.chartlaenge {
	margin-left: 10px;
	margin-top: 30px;
}

.chartplayer {
	margin-left: 10px;
}

.chart_extend {
	float: right;
	margin-top: -18px;
	margin-right: 15px;
	background-image: url(./images/ein_aus.png);
	background-repeat: no-repeat;
	width: 30px;
	cursor: pointer;
	height: 23px;
	overflow: hidden;
}

.chart_extend_active {
	background-position: bottom;
}

.kasten_extended {
	margin-top: 3px;
	width: 528px;
	height: 212px;
	background-color: #55796b;
	float: left;
	margin-left: 54px;
}

.chartpreise { /*margin-left:11px;*/
	margin-top: 2px;
	position: absolute;
	margin-left: 240px;
	float: left;
}

.chartpreis {
	float: left;
	margin-left: 5px;
}

.chartpreis_preis {
	width: 50px;
	text-align: right;
}

.chartvideo {
	float: left;
	width: 241px;
	height: 160px;
	margin-left: 10px;
	margin-top: 7px;
	background-color: #000;
}

.chartlyrik {
	margin-top: 12px;
	margin-left: 72px;
	float: left;
	/*	width:150px;
	overflow:auto;
	height:160px;*/
}

.lyriktext {
	margin-top: 3px;
	font-size: 11px;
	height: 174px;
	width: 183px;
	overflow: auto;
}

#footer {
	clear: left;
	height: 20px;
	margin-right: 96px;
	padding-top: 6px;
	text-align: right;
	padding-bottom: 10px;
}

.platz1_25 {
	float: right;
	background-color: #000;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	width: auto;
	height: auto;
	margin-right: 5px;
}

.platz26_50 {
	float: right;
	margin-right: 5px;
}

.platz51_75 {
	float: right;
	margin-right: 5px;
}

.platz76UP {
	float: right;
}

.modal {
	background-color: #55796b;
	display: none;
	height: 100px;
	padding: 15px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	border: 2px solid white;
	text-align: left;
	opacity: 0.8;
	/*		-moz-border-radius:6px;
		-webkit-border-radius:6px;*/
	-moz-box-shadow: 0 0 25px #000;
	-webkit-box-shadow: 0 0 25px #ccc;
}

#modalRegister {
	height: auto;
	width: auto;
	/*overflow:auto;*/
	opacity: 1;
	border: 0;
	z-index: 10001;
}

#modalEdit {
	height: auto;
	width: auto;
	opacity: 1;
	border: 0;
	z-index: 10001;
}

#modalNew {
	height: 40px;
	width: auto;
	opacity: 1;
	border: 0;
	z-index: 10001;
}

#modalUndo {
	height: 40px;
	width: auto;
	opacity: 1;
	border: 0;
	z-index: 10001;
}

#main {
	margin: 0px auto;
	width: 773px;
	height: 750px;
	/*		background-color:#ECEDED;*/
}

.contentLoading {
	background-color: transparent;
	margin-left: 69px;
	margin-top: 5px;
	text-align: center;
	width: 634px;
	z-index: 1;
}

.chartState {
	float: left;
	margin-left: -35px;
	margin-top: -10px;
	width: 19px;
}

.chartStateDown {
	float: left;
	margin-left: -9px;
	text-align: right;
	width: 20px;
}

.chartStateNew {
	float: left;
	margin-left: 7px;
	margin-top: -57px;
}

.chartStateEqual {
	float: left;
	margin-left:4px;
}

.chartStateUp {
	float: left;
	text-align: left;
	width: 15px;
}

.new {
	-moz-transform: rotate(9deg);
	float: left;
	margin-left: 22px;
	margin-top: 7px;
}

.equal {
	float: left;
    margin-left: 6px;
    margin-top: 25px;
}

.up {
	float: left;
	margin-left: 6px;
	margin-top: 25px;
}

.down {
	float: left;
	margin-left: 6px;
	margin-top: 25px;
}

.edit {
	float: left;
	width: 27px;
	margin-top: 60px;
	margin-left: -27px;
}

.undo {
	float: left;
	margin-left: -22px;
	margin-top: 86px;
}

.loading {
	display: none;
	bottom: -3px;
	left: 1px;
	position: relative;
}

#saveEdit {
	margin-bottom: -8px;
	margin-top: 4px;
	position: relative;
}

#txtCover {
	
}

#editPreviewSmall { /*bottom: 81px;*/
	top: 90px;
	height: 30px;
	position: absolute;
	right: 21px;
	width: 30px;
}

#editPreview {
	background-color: transparent;
	height: 160px;
	margin-left: 180px;
	margin-top: -165px;
	position: absolute;
	width: 160px;
	display: none;
}

#txtAPI {
	margin-top: 4px;
	width: 134px;
}

#enterAPI {
	background-color: transparent;
	background-image: url("./images/enter.jpg");
	background-repeat: no-repeat;
	border: none;
	height: 20px;
	margin-left: 1px;
	margin-top: 4px;
	position: absolute;
	width: 20px;
	cursor: pointer;
}

.modalButtons {
	margin-bottom: -10px;
	margin-left: 39%;
	margin-top: 4px;
	width: auto;
}

.button {
	cursor: pointer;
}

#loadingUndo {
	margin-bottom: 16px;
	margin-left: 48%;
	position: absolute;
}

#loadingNew {
	margin-bottom: 16px;
	margin-left: 48%;
	position: absolute;
}

/* ---------------------------------------------- */
#search_results { /*left: 861px;
		margin: 0;
		padding: 0;
		top: 198px;
	*/
	min-width: 202px;
	background-color: #FFFFFF;
	border-color: #323232;
	border-style: solid;
	border-width: 1px;
	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.8);
	color: /*#6E6E6E;*/ #4E524E ;
	overflow: hidden;
	position: absolute;
	z-index: 4;
	border-color: #323232;
	margin-left: -191px;
	margin-top: 8px;
}

.search_box { /*background-color: #000000;*/
	
}

.search_pict {
	float: right;
	margin: 4px 6px 0 0;
	padding: 0;
}

.myClose {
	background-image: url(./images/closegreen3.png);
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
	height: 32px;
	width: 32px;
}